# kubectl create secret generic tradepass-identity --from-env-file=<private-copy> -n tradepass-staging
TRADEPASS_DATABASE_URL=jdbc:mysql://mysql.internal:3306/tradepass_staging_identity?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Shanghai
DB_USERNAME=tradepass_identity
DB_PASSWORD=replace-with-independent-identity-password
FADADA_ENABLED=false
FADADA_APP_ID=
FADADA_APP_SECRET=
WECHAT_APP_ID=
WECHAT_APP_SECRET=
